.App {
  text-align: center;
  
  
  
}

.usuario {
  width: 30%;

}

.mensagem {
  width: 60%;

}

.bloco-user{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding-top: 40%;
  margin-left: 35%;
  margin-right: 35%;


  
}